@model wellcomePGSEZ.Models.Software

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Software</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SImageAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SImageAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SLinkAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SLinkAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SType.TId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
