@model wellcomePGSEZ.Models.Phone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PProperty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PProperty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PIpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PIpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PModelNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PModelNavigation.MName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PUserNavigation.UId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
