@model IEnumerable<wellcomePGSEZ.Models.Phone>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PIpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PModelNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PIpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PModelNavigation.MName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PUserNavigation.UId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
